<div class="container">
    <div class="ui-g">
        <div class="ui-g-12">
            <h1>Lançamentos</h1>
        </div>
        
        <div class="ui-g-12 ui-fluid">
            <label for="input-descricao">Descrição</label>
            <input id="input-descricao" type="text" pInputText/>
        </div>
    
        <div class="ui-g-12">
            <label for="input-vencimento-de" style="display: block;">Vencimento</label>
            <input id="input-vencimento-de" type="text" pInputText style="width: 95px;"/>
            <label for="input-vencimento-ate">Até</label>
            <input id="input-vencimento-ate" type="text" pInputText style="width: 95px;"/>
        </div>
    
        <div class="ui-g-12">
            <button pButton type="button" label="Pesquisar" ></button>
        </div>
        
    </div>
</div>

<div class="ui-g">
    <div class="ui-g-12">
        <p-dataTable [value]="lancamentos">
            <p-column field="pessoa" header="Pessoa"></p-column>
            <p-column field="descricao" header="Descrição"></p-column>
            <p-column field="vencimento" header="Vencimento" styleClass="col-data"></p-column>
            <p-column field="pagamento" header="Pagamento" styleClass="col-data"></p-column>
            <p-column field="valor" header="Valor" styleClass="col-valor">
                <ng-template let-lanc="rowData" pTemplate="body">
                    <span [style]="lanc.tipo === 'DESPESA' ? 'red' : 'blue'">
                        {{lanc.valor}}
                    </span>
                </ng-template>
            </p-column>
            <p-column styleClass="col-acoes">
                <ng-template pTemplate="body">
                    <a pButton icon="fa fa-pencil" style="margin-right: 2px;"></a>
                    <button pButton icon="fa fa-trash"></button>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>

    <div class="ui-g-12">
        <a pButton label="Novo Lançamento"></a>
    </div>
</div>